* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.img-main {
    width: 200px;
}

.img-main img {
    width: 100%;
}

.img-section {
    width: 200px;
}

.img-section img {
    width: 100%;
}

.article-exp img {
    width: 200px;
    height: 100%;
}