/* Global ====================================================================*/
:root {
  --bg: #333333;
  --bg-panel: #434343;
  --bg-header: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  --color-text: #b5b5b5;
  --color-text-secondary: #333333;

  transition: all 0.3s linear;
}

/* Elementos =================================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75w;
}

body {
  background: linear-gradient(to right, #f01428 0%, #c9284d 100%);
  font-family: "Poppins", sans-serif;
}

/* Container =================================================================*/
.container {
  width: min(100vw, 800px);
  margin: auto;
}

.card {
  background-color: var(--bg);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
}

/* Cabeçalho =================================================================*/
body .site-header {
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
}

body header .menu {
  margin: 0.1rem;
  font-weight: bold;
}

body header .menu a {
  text-decoration: none;
  color: var(--color-text);
}
body header .menu a:hover {
  text-decoration: none;
  color: rgb(122, 121, 121);
}

body header #pesquisar {
  width: min(100%, 800px);
  margin-top: 1.5rem;
}
body header input {
  border: 1px solid var(--bg-panel);
  border-radius: 0.4rem;
  color: var(--color-text);
  font-weight: bold;
  background: var(--bg-panel);
  padding: 1rem;
  width: 100%;
}

/* Primeira Seção - Descrição ================================================*/
.img-descricao {
  width: 100%;
}

.img-descricao img {
  border-radius: 0.8rem;

  width: 100%;
  border-radius: 0.8rem;
}

main section {
  color: var(--color-text);
  padding: 1rem;
}

main section h2 {
  font-size: 1.5rem;
  margin-top: 0.5rem;

  word-wrap: break-word;
}

main section p {
  font-size: 1rem;
  line-height: 1.5rem;

  margin-top: 0.5rem;
  padding: 0.1rem;

  word-wrap: break-word;
}

main section .redes-sociais {
  margin-top: 1rem;

  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 2rem;
}

main section .redes-sociais img {
  width: min(10rem, 40px);
  background-color: #b5b5b5;
  padding: 0.5rem;
  border-radius: 1rem;
}

/* Segunda Seção - Projetos ===================================================================*/
main section h1 {
  font-size: 2rem;
  margin: 0.5rem;

  word-wrap: break-word;
}

main section #projetos {
  width: min(100%, 800px);
}
main section select {
  border: 1px solid var(--bg-panel);
  border-radius: 0.4rem;
  color: var(--color-text);
  font-weight: bold;
  background: var(--bg-panel);

  padding: 1rem;
  margin-bottom: 0.5rem;

  cursor: pointer;
}

main section h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0 1rem 0.5rem;

  word-wrap: break-word;
}

main .container .img-section {
  width: 100%;
}

.img-section img {
  border-radius: 0.8rem;
  width: 100%;
}

main button {
  border: 1px solid var(--bg-panel);
  border-radius: 0.4rem;
  color: var(--color-text);
  font-weight: bold;
  background: var(--bg-panel);
  width: 100%;

  margin: 0.5rem 0 0.1rem;

  display: flex;
  justify-content: center;

  cursor: pointer;
}

button span {
  line-height: 1rem;
  word-wrap: break-word;
}

button span#mais {
  font-size: 2rem;

  padding: 0 1rem;
}

/* Terceira Seção - Experiência ===================================================================*/

section .article-exp {
  background: var(--bg-panel);
  border-radius: 0.8rem;

  margin: 2rem 0;
  padding: 1rem;
}

section .article-exp img {
  border-radius: 0.8rem;
  width: 100%;

  margin-top: 0.5rem;
}

span {
  display: block;
  margin: 1rem 0;

  font-weight: bold;
}

/* Quarta Seção - Repositórios Github ===================================================================*/
.repositorios {
  background-color: var(--bg);
  width: 100%;

  padding: 1rem;
}

/* Sexta Seção - Recomendação de Conteúdo ==============================================================*/
.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

section .video-article p,
span > p {
  line-height: 0rem;
  margin: 1.5rem 0;
}

/* Footer ===================================================================*/
footer .footer-container {
  background: none;
  color: var(--color-text);
  border-radius: 0.8rem 0.8rem 0 0;

  display: flex;
  flex-direction: column;

  padding: 1rem;
}

footer .footer-container p {
  text-align: center;
}

/* Responsivo ===============================================================================*/

@media (min-width: 950px) {
  html {
    font-size: 87.5%;
  }

  .container {
    width: min(100vw, 1000px);
    margin: auto;
  }

  /* Cabeçalho ===============================================================*/
  body .site-header {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

    width: min(100vw, 950px);
    margin: auto;
  }

  body header #pesquisar {
    width: min(100%, 300px);
  }

  /* Primeira Seção - Descrição ==============================================*/
  .container-perfil {
    display: flex;
    gap: 5rem;
  }
  .container-descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .img-descricao {
    width: 20rem;
  }

  .img-descricao img {
    border-radius: 0.8rem;

    width: 100%;
    object-fit: cover;
  }

  /* Segunda Seção - Projetos ================================================*/
  main section header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
  }
  main section #projetos {
    width: min(35%, 800px);
  }
  main section main {
    display: flex;
  }
  main footer {
    display: flex;
    justify-content: flex-end;
  }
  main footer button {
    width: min(40%, 100%);
    margin-top: 3rem;

    align-items: center;
  }
  /* Terceira Seção - Experiência ============================================*/
  main section .experiencias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    
    margin: 0;
  }

  section main .article-exp {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "logo titulo descricao";
    gap: 1rem;

    align-items: center;
  }

  main .article-exp h3 {
    grid-area: titulo;
  }

  main .article-exp img {
    object-fit: cover;
    height: 200px;
    width: 200px;

    grid-area: logo;
  }

  main .article-exp .container-texto-exp { 
    grid-area: descricao;
  }

  /* Quarta Seção - Repositórios =============================================*/
  section .container-repo {
    width: min(100vw, 930px);
    margin: auto;
  }

  section .container-repo main {
    column-gap: 2rem;
  }

  /* Sexta Seção - Recomendação de Conteúdo ==================================*/
  section main.container-recomendacoes {
    align-items: center;
    column-gap: 2rem;
  }
  section main.container-recomendacoes .video-container {
    height: 14rem;
    object-fit: cover;
  }
  .video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  section .video-article p,
  span > p {
    line-height: 0rem;
    margin: 1.5rem 0;
  }
}
