/* Global ====================================================================*/
:root {
  --bg: #333333;
  --bg-panel: #434343;
  --bg-header: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  --color-text: #b5b5b5;
  --color-text-secondary: #333333;

  transition: all 0.3s linear;
}

/* Elrementos =================================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75w;
}

body {
  /*background: #512BD4;*/
  background: linear-gradient(to right, #f01428 0%, #c9284d 100%);
  font-family: "Poppins", sans-serif;
}

/* Cointainer =================================================================*/

.container {
  width: min(100vw, 800px);
  margin: auto;
}

.card {
  background-color: var(--bg);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
}

/* Cabeçalho =================================================================*/

body .site-header {
  border: 0.1px none var(--bg);
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
}

body header .menu {
  margin: 0.1rem;
  font-weight: bold;
}

body header .menu a {
  text-decoration: none;
  color: var(--color-text);
}
body header .menu a:hover {
  text-decoration: none;
  color: rgb(122, 121, 121);
}

body header #pesquisar {
  width: min(100%, 800px);
  margin-top: 1.5rem;
}
body header input {
  border: 1px solid var(--bg-panel);
  border-radius: 0.4rem;
  color: var(--color-text);
  font-weight: bold;
  background: var(--bg-panel);
  padding: 1rem;
  width: 100%;
}

/* Primeira Seção - Descrição ================================================*/
.img-descricao {
  width: 100%;
}

.img-descricao img {
  border-radius: 0.8rem;

  width: 100%;
  border-radius: 0.8rem;
}

main .container .card {
  color: var(--color-text);
  padding: 1rem;
}

main .container .card h2 {
  font-size: 1.25rem;
  margin-top: 0.5rem;

  word-wrap: break-word;
}

main .container .card p {
  font-size: 0.9rem;
  line-height: 1.5rem;

  margin-top: 0.5rem;
  padding: 0.1rem;

  word-wrap: break-word;
}

main section .redes-sociais {
  margin-top: 1rem;

  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 2rem;
}

main section .redes-sociais img {
  width: min(10rem, 40px);
  background-color: #b5b5b5;
  padding: 0.5rem;
  border-radius: 1rem;
}

/* Segunda Seção - Projetos ===================================================================*/
main .container .card h1 {
  font-size: 1.75rem;
  margin: 0.5rem;

  word-wrap: break-word;
}

main section #projetos {
  width: min(100%, 800px);
}
main section select {
  border: 1px solid var(--bg-panel);
  border-radius: 0.4rem;
  color: var(--color-text);
  font-weight: bold;
  background: var(--bg-panel);

  padding: 1rem;
  margin-bottom: 0.5rem;
}

main .container .card h3 {
  font-size: 1.1rem;
  margin: 0.5rem 0 1rem 0.5rem;

  word-wrap: break-word;
}

main .container .img-section {
  width: 100%;
}

.img-section img {
  border-radius: 0.8rem;
  width: 100%;
}

main .container .card button {
  border: 1px solid var(--bg-panel);
  border-radius: 0.4rem;
  color: var(--color-text);
  font-weight: bold;
  background: var(--bg-panel);
  width: 100%;

  padding: 0.1rem;
  margin: 0.5rem 0 0.1rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-start;
}

main .container .card button::before {
  content: "+";
  font-size: 2rem;

  width: 25%;
}

/* Terceira Seção - Experiência ===================================================================*/

section .article-exp img {
  border-radius: 0.8rem;
  width: 100%;

  margin-top: 0.5rem;
}

.container .card span {
  display: block;
  margin: 1rem 0;

  font-weight: bold;
}

/* Quarta Seção - Repositórios Github ===================================================================*/

/* Quarta Seção - Repositórios Github ===================================================================*/

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.container .card .video-article
p, span > p {
  line-height: 0rem;
  margin: 1.5rem 0;
}

/* Footer ===================================================================*/

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }
}


/* Imagens ===================================================================*/

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }
}
